<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PaginaWebRestauranteHamburguesas</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a asp-area="AccesoAdmin" asp-controller="Admin" asp-action="PaginaPrincipal">Inicio</a> </li>
                <li> <a asp-controller="Comida" asp-action="PaginaPrincipalComida">Comidas</a> </li>
                <li> <a asp-controller="Combo" asp-action="PaginaPrincipalCombo">Combos</a> </li>
                <li> @Sesion.Singleton().UsuarioLogeado </li>
                <li> <a asp-area="AccesoAdmin" asp-controller="Admin" asp-action="InicioSesion">Cerrar Sesión</a> </li>
            </ul>
        </nav>
    </header>

    <div class="centrar-todo">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PaginaWebRestauranteHamburguesas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>
</html>
