<!DOCTYPE html>
<html style="margin:0; padding:0" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 2dBurguer</title>
</head>
<body>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
